﻿ <!--HEADER INNER START -->
<header class="innerHeader isStickyInner">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-sm-2">
                <div class="logo">
                    <a href="@Url.Action("Index", "Home")"><img src="~/Content/images/cutss-logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-sm-7">
                <nav class="mainNav2">
                    <div class="mobileMenu2">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul>
                        <li class="has-menu-items active">
                            @Html.ActionLink("Главная", "Index","Home")                          
                        </li>
                        <li class="has-menu-items">
                            @Html.ActionLink("Вопросы-Ответы", "About", "Home")                           
                        </li>                      
                        <li>
                            @Html.ActionLink("Ножы", "Index", "Home")
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-1 col-sm-3">
                <div class="sicialIcon">
                    <img src="~/Content/images/iconCard.png" />
                    <div >0</div>
                    @*<div id="countKnives">0</div>*@
                </div>
            </div>
            <div class="col-lg-2 col-sm-3">
                <div class="sicialIcon">
                    <a class="fb" href="#"><i class="fa fa-facebook"></i></a>
                    <a class="tw" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="gp" href="#"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>
<!--HEADER INNER END -->

