﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Include All CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/settings.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/owl.theme.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/preset.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css" />
    <link rel="stylesheet" id="layout" href="~/Content/css/lay_colors/wide.css">
    <link rel="stylesheet" id="lightDark" href="~/Content/css/lay_colors/dark.css">
    <link rel="stylesheet" id="colorChem" href="~/Content/css/lay_colors/color1.css">
    <!-- End Include All CSS -->
   
    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="~/Content/images/favicon.png">
 </head>
<body>


    @{
        Html.RenderPartial("_Header");
    }

    @RenderBody()

    <!--FOOTER START-->
    <footer class="footer overlay90" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <aside class="widget">
                        <h3 class="widgetTitle">Our Contacts</h3>
                        <address class="faddress">
                            <div class="sads">
                                <i class="fa fa-globe"></i>
                                <p>....... street ....</p>
                                <p>......, ......., .....</p>
                            </div>
                            <div class="sads">
                                <i class="fa fa-phone"></i>
                                <p>..................., .............</p>
                            </div>
                            <div class="sads">
                                <i class="fa fa-envelope-o"></i>
                                <p class="fmail"><a href="">*****************</a></p>
                            </div>
                        </address>
                    </aside>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <aside class="widget">
                        <h3 class="widgetTitle">Working Hours</h3>
                        <ul class="workHour">
                            <li>Monday - Friday <span>9:00 - 17:00</span></li>
                            <li>Saturday <span>9:00 - 20:00</span></li>
                            <li>Sunday <span>10:00 - 15:00</span></li>
                        </ul>
                    </aside>
                </div>
                <div class="clearfix hidden-lg hidden-md"></div>
            </div>
        </div>
    </footer>
    <!--FOOTER END-->

    <script type="text/javascript" src="~/Content/js/sort.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-ui.js"></script>

    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/Content/js/owl.carousel.js"></script>
    
    <script type="text/javascript" src="~/Content/js/gmaps.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.appear.js"></script>
    <script type="text/javascript" src="~/Content/js/select2.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="~/Content/js/theme.js"></script>



    <script>

    ////////////////////////////ADD TO CART////////////////////////

    $(window).load(function () {

        $("#countKnives").text(new cookieList("Knifes").items().length);
        //TODO DUBLICATE CODE REMOVE THIS, CALLBACK AJAX COPY
        $(".cartButton").on("click", function (item) {
            var list = new cookieList("Knifes");
            list.add(item.target.getAttribute('id'));
            $("#countKnives").text(list.items().length);
        });
    });


    var cookieList = function(cookieName) {
    var cookie = $.cookie(cookieName);
        var items = cookie ? cookie.split(/,/) : new Array();

        return {
            "add": function(val) {
                items.push(val);
                $.cookie(cookieName, items.join(','), { expires: 3});
            },
            "remove": function (val) {
                indx = items.indexOf(val);
                if(indx!=-1) items.splice(indx, 1);
                $.cookie(cookieName, items.join(','));        },
            "clear": function() {
                items = null;
                $.cookie(cookieName, null);
            },
            "items": function() {
                return items;
            }
        }
    }
    
    ////////////////////////////END ADD TO CART//////////////////////


    /////////////////////////////// CATEGORY SELECT////////////////////////////////

    $('.linkCategory').on('click',
        function(item) {
            jQuery.ajaxSettings.traditional = true;
            var selectid = item.target.childNodes[0].data.replace(/\s/g, '');
            var selected = $(("#" + selectid)).attr("class");
            if (selected === "fa fa-check") {
                $(("#" + selectid)).attr("class", " ");
            } else {
                $(("#" + selectid)).attr("class", "fa fa-check");
            }
            var cat = [];
             $("i.fa.fa-check").each(function() {
                cat.push($(this).attr("id"));
            });



            $.ajax({
                url: "@(Url.Action("_WeaponList", "Store"))",
                type: "GET",
                cache: false,
                async: true,
                data: {
                    categories: cat },
                success: function (result) {
                    $("#listWeapons").html(result);

                    $(".cartButton").on("click", function (item) {
                        var list = new cookieList("Knifes");
                        list.add(item.target.getAttribute('id'));
                        $("#countKnives").text(list.items().length);
                    });
                }
            });

        });
    /////////////////////////////// END CATEGORY SELECT////////////////////////////////
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquerycookie")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
