﻿@{
    ViewBag.Title = "Вопросы-Ответы";
}


<!--PRELOADER START-->
<div class="preloader">
    <div class="la-ball-clip-rotate-pulse la-2x">
        <div></div>
        <div></div>
    </div>
</div>
<!--PRELOADER END-->

<div class="box">

    <!--BREADCRUMP START-->
    <section class="breadcrumbSec overlay80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                </div>
            </div>
        </div>
    </section>
    <!--BREADCRUMP END-->
    <section class="commonSection bg_black">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <h1>О нас</h1>
                    <p>
                        <strong>
                            <span style="font-weight: 600;">
                             
                                <h2>Кто такие Cutss?</h2>
                                <h3>Cutss - это единственная в мире компания, которая изготавливает тренировочные ножи по шаблонам популярных скинов из CS:GO</h3>
                                <h2>Почему мы?</h2>
                                <h3>Мы являемся первой компанией в Украине, которая напрямую сотрудничает с производителем. Мы гарантируем вам первоклассное качество.</h3>
                                <h2>Как купить?</h2>
                                <h3>
                                    Для покупки необходимо добавить нужный вам товар в корзину. Далее нужно заполнить форму заказа. В ней необходимо
                                    указать ваши контактные данные (ФИО, адрес, номер телефона для обратной связи). После этого необходимо оплатить заказ удобным для вас способом
                                </h3>
                                <h2>Как долго ждать нож?</h2>
                                <h3>Так как основное производство базируется за рубежом, доставка к вам домой займёт 15-20 рабочих дней.</h3>
                                <h2>Какие гарантии того, что нож приедет?</h2>
                                <h3>Мы напрямую работаем с производителем. Они являются нашим гарантом</h3>

                            </span>
                        </strong>

                </div>
            </div>
        </div>
    </section>
