﻿@using StoreWeapon.Models
@model List<MainCategory>
@{
    ViewBag.Title = "Home Page";
}

<!--PRELOADER START-->
<div class="preloader">
    <div class="la-ball-clip-rotate-pulse la-2x">
        <div></div>
        <div></div>
    </div>
</div>
<!--PRELOADER END-->

<div class="box">
   
    <!--BREADCRUMP START-->
    <section class="breadcrumbSec overlay80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                </div>
            </div>
        </div>
    </section>
    <!--BREADCRUMP END-->
    <!--SHOP START-->
    <section class="commonSection bg_black">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div class="shopContent">
                        <div class="row">

                            @helper CreateKnifeMainList(List<MainCategory> category)
                            {
foreach (var cat in category)
{
        <div class="col-sm-4">
            <div class="shopProduct">
                <div class="postThum">
                    <img src="@cat.ImagePath" alt="">
                </div>
                <div class="shopDec">
                    <h3 class="blogTitle">
                        <a href="@Url.Action("Index","Store", new {Category = @cat.CategoryName})">@cat.CategoryName</a>
                    </h3>
                </div>
            </div>
        </div>
}
}

                            @CreateKnifeMainList(@Model)

                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--SHOP END-->
 
    <a href="shop.html#" id="backToTop"><i class="fa fa-angle-up"></i></a>
</div>
