﻿@using StoreWeapon.Models
@model IEnumerable<StoreCategory>
<ul>
    @foreach (var category in Model)
    {

        if (category.Name == @TempData["Category"].ToString())
        {
            <li><i id="@category.Name.Replace(" ",String.Empty)" class="fa fa-check"></i><a href="javascript:void(0)" class="linkCategory">@category.Name<span> @category.Count</span></a></li>
        }
        else
        {
            <li><i id="@category.Name.Replace(" ",String.Empty)" class=" "></i><a href="javascript:void(0)" class="linkCategory">@category.Name<span> @category.Count</span></a></li>
        }

    }
</ul>
