﻿@model System.Collections.Generic.List<StoreWeapon.Models.KnifeForStore>

@foreach (var knife in Model)
{
<div class="col-sm-4 block_weapon">
    <div class="shopProduct">
        <div class="postThum">
            <img src="@knife.LogoPath" alt="">
        </div>
        <div class="shopDec">
            <h6 class="blogTitle">
                <a href="shop.html#">@knife.Name</a>
            </h6>
            <p class="bDate">
                <a href="shop.html#" id="price">@knife.NewPrice</a>
            </p>
            <a href="#" id="@knife.Id" class="painButton cartButton">Add to cart</a>
        </div>
    </div>
</div>
}