﻿@using System.Web.UI.WebControls
@using StoreWeapon.Models
@model IEnumerable<KnifeForStore>

<!--PRELOADER START-->
<div class="preloader">
    <div class="la-ball-clip-rotate-pulse la-2x">
        <div></div>
        <div></div>
    </div>
</div>
<!--PRELOADER END-->

<div class="box">
  
     
    <!--BREADCRUMP START-->
    <section class="breadcrumbSec overlay80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                </div>
            </div>
        </div>
    </section>
    <!--BREADCRUMP END-->
    <!--SHOP START-->
    <section class="commonSection bg_black">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="shopHead">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="shortResult">Showing 1-6 of @Model.Count() results</p>
                            </div>
                            <div class="col-sm-6">
                                <div class="selectDiv sorting">
                                    <select id="sorting_list" onchange="java_script_:sort(this.options[this.selectedIndex].value)">
                                        <option value="0" selected="selected">По умолчанию </option>
                                        <option value="1">Название (А - Я)</option>
                                        <option value="2">Название (Я - А)</option>
                                        <option value="3">Цена (низкая > высокая)</option>
                                        <option value="4">Цена (высокая > низкая)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>     
                    <div class="shopContent">
                        <div class="row" id="listWeapons">
                            @Html.Action("_WeaponList", new { categories = ViewBag.category})
                            <div class="clearfix"></div>
                            <div class="paginationCustom text-center">
                                <span class="current">1</span>
                                <a href="shop.html#">2</a>
                                <a href="shop.html#">3</a>
                                <a href="shop.html#">4</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="shopSidebar">
                        <aside class="widget">
                            <h3 class="widgetTitle">Categories</h3>
                            <div id="res">
                             @Html.Action("_CategoriesPanel", new { newCategory = ViewBag.category})
                            </div>
                        
                        </aside>
                       
                        <aside class="widget">
                            <h3 class="widgetTitle">Cart</h3>
                            <div class="cartSidebar">
                                <div class="singleCart">
                                    <img src="images/cart/1.jpg" alt="">
                                    <a class="crossProduct" href="shop.html#"><i class="fa fa-times"></i></a>
                                    <h6><a href="shop.html#">Pro Black</a></h6>
                                    <h6 class="cartPrice"><span>1 x</span> $99.00</h6>
                                </div>
                                <div class="singleCart">
                                    <img src="images/cart/2.jpg" alt="">
                                    <a class="crossProduct" href="shop.html#"><i class="fa fa-times"></i></a>
                                    <h6><a href="shop.html#">Balance Perform</a></h6>
                                    <h6 class="cartPrice"><span>2 x</span> $92.00</h6>
                                </div>
                                <h6 class="subTotal">Subtotal: <span>$283.00</span></h6>
                                <a href="shop.html#" class="painButton">View cart</a>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SHOP END-->
 
    <a href="shop.html#" id="backToTop"><i class="fa fa-angle-up"></i></a>
</div>
