/*
  Theme Name: Paintball & Strikeball Club - Premium HTML5 Template
  Theme URL: http://themewar.com/html/paintball
  Author: ThemeWar
  Author URI: http://themewar.com/
  Description: Paintball & Strikeball Club - Premium HTML5 Template
  Version: 1.0
*/

/*=======================================================================
[Table of contents]
=========================================================================
[01] TEMPLATE FONTS
[02] NORMALIZATION CSS
[03] MARGIN AND PADDING SETUP
[04] SECTION SETUP
[05] TEMPLATE BUTTON STYLE
=========================================================================*/

/*=======================================================================
[01] TEMPLATE FONTS
=========================================================================*/
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700|Poppins:300,400,500,600,700');

/*=======================================================================
[02] NORMALIZATION CSS
=========================================================================*/
htm,body{
    color: #808080;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0;
} 
a{
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}
a:hover{
    text-decoration: none;
}
a:focus{
    outline: 0;
    text-decoration: none;
}
ul,
ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
button{
    border: none;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}
p{
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
    margin: 0 0 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #262330;
}
h6{
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .7px;
}
h5{
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
}
h4{
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0;
}
h3{
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 1.2px;
}
h2{
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 2.5px;
}
h1{
    font-size: 107px;
    line-height: 107px;
    letter-spacing: 2.5px;
}
a:focus, input:focus, select:focus, textarea:focus, button:focus{
    box-shadow: none !important;
    outline: none !important;
}


/*=======================================================================
[03] MARGIN AND PADDING SETUP
=========================================================================*/
.noPadding{
    padding: 0px !important;
}
.noPaddingLeft{
    padding-left: 0px !important;
}
.noPaddingTop{
    padding-top: 0px !important;
}
.noPaddingRight{
    padding-right: 0px !important;
}
.noPaddingBottom{
    padding-bottom: 0px !important;
}
.noMargin{
    margin: 0px !important;
}
.noMarginLeft{
    margin-left: 0px !important;
}
.noMarginTop{
    margin-top: 0px !important;
}
.noMarginRight{
    margin-right: 0px !important;
}
.noMarginBottom{
    margin-bottom: 0px !important;
}

/*=======================================================================
[04] SECTION SETUP
=========================================================================*/
.commonSection{
    padding: 120px 0;
    position: relative;
}
.lineBorder{
    width: 50px;
    height: 2px;
    background: #e43d4e;
    display: inline-block;
}
.color_white{
    color: #fff;
}
.color_red{
    color: #e43d4e;
}
.color_gray{
    color: #808080;
}
.bg_black{
    background: #34313f;
}
.bg_black2{
    background: #292633;
}

.sectionTitle{
    margin-bottom: 55px;
    margin-right: 30px;
    padding-right: 100px;
    position: relative;
    z-index: 1;
}
.sectionTitle3{}
.sectionTitle p:last-of-type{
    margin-bottom: 50px;
}
.sectionTitle.border{
    border-bottom: 1px solid #494653;
}
.titleHead{
    overflow: hidden;
    padding-bottom: 45px;
}
.titleHead h1 {
    color: #e43d4e;
    display: inline-block;
    float: left;
    position: relative;
    top: -3px;
    left: -3px;
    padding-right: 13px;
    margin: 0;
}
.titleHead h2{
    margin: 0;
}
.sectionTitle2{
    margin-bottom: 60px;
}
.sectionTitle2 h2{
    margin-bottom: 32px;
    line-height: .89;
}
.sectionTitle3{
    margin-bottom: 36px;
}

.overlay90,
.overlay80{
    position: relative;
}
.overlay90:before{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(38, 35, 48, .9);
    content: '';
}
.overlay80:before{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(38, 35, 48, .8);
    content: '';
}


/*=======================================================================
[05] TEMPLATE BUTTON STYLE
=========================================================================*/
.painButton,
input[type='submit']{
    border: 3px solid #fff;
    color: #fff;
    display: inline-block;
    font-family: "Oswald",sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 60px;
    letter-spacing: 0.7px;
    line-height: 53px;
    padding: 0 46px;
    text-transform: uppercase;
    background: transparent;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.painButton:hover,
input[type='submit']:hover{
    color: #e43d4e;
    border-color: #e43d4e;
}