﻿@using StoreWeapon.Models
@model List<KnifeForStore>



                @foreach (var knife in @Model)
                {

                    <tr>
                        <td data-th="Product">
                            <div class="col-sm-4 hidden-xs"><img src=@knife.LogoPath alt="..." class="img-responsive" /></div>
                            <div class="col-sm-8">
                                <h4 class="nomargin">@knife.Name</h4>
                                <p>@knife.Description</p>
                            </div>
                        </td>
                        <td data-th="Price">@knife.NewPrice</td>
                        <td data-th="Quantity">
                            <input type="number" class="form-control text-center" value="1">
                        </td>
                        <td data-th="Subtotal" class="text-center">1.99</td>
                        <td class="actions" data-th="">
                            <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                            <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                }
               