﻿@using StoreWeapon.Models
@model List<KnifeForStore>

<div>
    <!--PRELOADER START-->
    <div class="preloader">
        <div class="la-ball-clip-rotate-pulse la-2x">
            <div></div>
            <div></div>
        </div>
    </div>
    <!--PRELOADER END-->

    <div class="box">
        <section class="breadcrumbSec overlay80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">

                    </div>
                </div>
            </div>
        </section>

        <section class="commonSection bg_black">
            <div class="container">
                <table id="cart" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width:50%">Корзина</th>
                            <th style="width:10%">Цена</th>
                            <th style="width:8%">Количество</th>
                            <th style="width:22%" class="text-center">Итого</th>
                            <th style="width:10%"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @Html.Partial("_CartItems", @Model)
                    </tbody>
                    <tfoot>
                        <tr class="visible-xs">
                            <td class="text-center"><strong>Total 1.99</strong></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                            <td colspan="2" class="hidden-xs"></td>
                            <td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
                            <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>

        <a href="shop.html#" id="backToTop"><i class="fa fa-angle-up"></i></a>
    </div>
</div>






