﻿
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">



    <section class="breadcrumbSec overlay80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                </div>
            </div>
        </div>
    </section>


    <section class="commonSection bg_black">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                 
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="grid__item">
                                <div class="photos">
                                    <div class="photos__item photos__item--main">

                                        <div class="product-single__photo" id="ProductPhoto">
                                            <div>
                                                <button class="modelbtn" data-toggle="modal" data-target="#ProductModal">
                                                    <img src="~/Content/images/Fade.jpeg" alt="Blue Steel Upgraded" id="ProductPhotoImg">
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <h1>Blue Steel Upgraded</h1>
                            <ul class="list-unstyled">
                                <li><span style="text-decoration: line-through;">$39.99</span></li>
                                <li>
                                    <h2>$25.99</h2>
                                </li>
                            </ul>
                          
                            <div class="rte product-single__description" itemprop="description">
                                <p><span>Knife “Blue Steel Upgraded” is </span><strong>NOT SHARP. </strong><span>The blade comes rounded off. The Blade is made from 440c stainless steel, and the handles from tool (carbon) steel, so if you want to add your own edge to the blade it will hold up, but do so at your own risk.</span></p>
                                <p><span style="font-weight: 400;">Overall Length- 9.5”</span></p>
                                <p><span style="font-weight: 400;">Folding Length: 5.5''</span></p>
                                <p>Handle materials: metal steel</p><p>Hardness: 58-59HRC</p>
                                <p><span style="font-weight: 400;">Weight: 200 G</span></p>
                                <p><span><strong><span style="font-weight: 400;">THIS KNIFE IS NOT SHARP AND CAN NOT CAUSE REAL HARM TO ANYONE. THESE KNIVES ARE FOR TRAINING PURPOSES ONLY.</span></strong></span></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <a href="shop.html#" id="backToTop"><i class="fa fa-angle-up"></i></a>
</div>

